<%- include("header");-%>
    <div class="infoContainer">
        <div class="container">
            <img class="logo" src="images/logo.png" alt="LOGO">
            <h1 class="Big">Shastra Gyan</h1>
        </div>
        <h2 class="subhead"><%=materialTitle%></h2>
        <div class="gyan">
            <p>
                <%=readMaterial%>
            </p>
        </div>
    </div>
    <%- include("footer");-%>